<html>
  <head>
    <title>Task</title>
    <body>
      <div>
        <h3>Implement login/registraion action on react using rails api</h3>
        <p>
          <h4><b>1.</b>init tools.</h4>
          <p>
            Створи react додаток за допомогою
            <a href="https://facebook.github.io/react/blog/2016/07/22/create-apps-with-no-configuration.html">цього</a> або чогось іншого це не так важливо, просто щоб було зручно.
            Доки <a href="https://facebook.github.io/react/docs/hello-world.html">тут</a>.
          </p>
          <h4><b>2.</b>basic knowledge</h4>
          <p>
          Базові навички:
            <ul>
              <li>Як працює реакт, писати самі прості додатки, тож читай -
                <a href="http://buildwithreact.com/tutorial">1</a>
                <a href="https://facebook.github.io/react/tutorial/tutorial.html">2</a>
                <a href="https://www.tutorialspoint.com/reactjs/">3</a>
              </li>
              <li>Як підключати бібліотеки зазвичай <code>npm install package --save</code> вистачає, але
                  <a href="https://habrahabr.ru/post/243335/">читай</a>
              </li>
              <li>Як кидати запити, на нашому проекті ми юзали <code>fetch</code>, читай
                <a href="https://hashnode.com/post/5-best-libraries-for-making-ajax-calls-in-react-cis8x5f7k0jl7th53z68s41k1">тут</a>
              </li>
              <li>
                Організація роутера, щоб можна було переходити по посиланням, типу /users, /users/1, /users/1/edit.
                <a href="https://reacttraining.com/react-router/web/guides/quick-start">react-router-dom</a>
              </li>
            </ul>
          </p>
          <h4><b>2.</b>project</h4>
          <p>
            Source code апішки <a href="https://github.com/bliareg/simple_login_api">тут</a>, можеш скачати і запустити, або використовувати прямо звідси - 
          </p>
        </p>
      </div>
    </body>
  </head>
</html>
