<html>
  <head>
    <title>Task</title>
    <body>
      <div>
        <h3>Implement login/registration actions on react using rails api</h3>
        <p>
          <h4><b>1.</b>init tools.</h4>
          <p>
            Створи react додаток за допомогою
            <a href="https://facebook.github.io/react/blog/2016/07/22/create-apps-with-no-configuration.html">цього</a> або чогось іншого це не так важливо, просто щоб було зручно.
            Доки <a href="https://facebook.github.io/react/docs/hello-world.html">тут</a>.
          </p>
          <h4><b>2.</b>basic knowledge</h4>
          <p>
          Базові навички:
            <ul>
              <li>Як працює реакт, писати самі прості додатки, тож читай -
                <a href="http://buildwithreact.com/tutorial">1</a>
                <a href="https://facebook.github.io/react/tutorial/tutorial.html">2</a>
                <a href="https://www.tutorialspoint.com/reactjs/">3</a>
              </li>
              <li>Як підключати бібліотеки зазвичай <code>npm install package --save</code> вистачає, але
                  <a href="https://habrahabr.ru/post/243335/">читай</a>
              </li>
              <li>Як кидати запити, на нашому проекті ми юзали <code>fetch</code>, читай
                <a href="https://hashnode.com/post/5-best-libraries-for-making-ajax-calls-in-react-cis8x5f7k0jl7th53z68s41k1">тут</a>
              </li>
              <li>
                Організація роутера, щоб можна було переходити по посиланням, типу /users, /users/1, /users/1/edit.
                <a href="https://reacttraining.com/react-router/web/guides/quick-start">react-router-dom</a>
              </li>
            </ul>
          </p>
          <h4><b>3.</b>project</h4>
          <p>
            Апішку для логінізації можеш використовувати прямо із цього <a href="https://simple-login-api.herokuapp.com/">сайту</a> де ти читаєш цей туторіал, або скачати і запустити <a href="https://github.com/bliareg/simple_login_api">звідси</a>.<br>
            <br>Усі доступні роути до апішки <a href="/apipie">тут</a>.<br>
            <br>
            Необхідно зробити логінізацію по токену, це відбувається так -
            <ol>
              <li>Користувач кидає запит на сервер для логінізації - в даному випадку на <a href="/apipie/1.0/sessions/create.html">цей роут</a> </li>
              <li>Сервер повертає токен, який ти зберігаєш</li>
              <li>Кожен наступний запит токен у хедері запиту кидається на сервер звідки у хедері він повертається і його знову потрібно записати на фронтенді.</li>
              <li>Токен записується у хедер <code>Authorization</code>, так: <br>
                <code>Token token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJleHAiOjE0OTM3MDg3MTR9.youU7Do6JCCzQMcEMOTEAzrFalPQ_xfQ97Ygnx1M3NE"</code></li>
              <li>Почитай що таке хедери у http</li>
              <li>Але спочатку потрібно зареєструватись - <a href="/apipie/1.0/users/create.html">цей роут</a></li>
            </ol>
          </p>
        </p>
      </div>
    </body>
  </head>
</html>
